## .NET Core
bin/
obj/
*.user
*.userosscache
*.sln.docstates

## Visual Studio Code
.vscode/
*.code-workspace

## Visual Studio
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln

## Rider
.idea/
*.sln.iml

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## NuGet
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

## Logs
*.log

## Local development settings
appsettings.Development.json
*.Development.json

## Others
.DS_Store
Thumbs.db